body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    background-color: #D2CEFB;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #46407A;
    color: white;
    align-items: center;
}
.title{
    font-size: 2rem;
    padding: 10%;
}
.links{
    list-style: none;
    display: flex;
    padding: 10%;

}
.links li a{
    color: #fff;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 10px;
}
.links li a:hover{
    color: #fff;
    display: block;
    text-decoration: none;
    margin-left: 10px;
    background-color: #383163;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main div{
    flex: 1 1 300px;
    margin: 5%;
}
main img{
    width: 100%;
    border-radius: 50%;
}
h2{
    font-size: 175%;
    padding-bottom: 2%;
    font-weight: 500;
}
section{
    padding: 2%;
    background-color: #E2DDFB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
}
.list{
    margin: 0 auto;
    max-width: 960px;
    padding: 50px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list div{
    color: white;
    padding-top: 1%;
    height: 200px;
    width: 140px;
    margin: 3px;
    background-color: #383163;
    border-radius: 10px;
    list-style: none;
}
.list div img{
    width: 100%;
}
.list div:hover{
    height: 210px;
    width: 147px;
    background-color: #46407A;
    margin: 3px;
    border-radius: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #46407A;
    color: white;
    align-items: center;
    flex-wrap: wrap;
}
.logos{
    padding: 0.7%;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.logos li{
    color: white;
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: #46407A;
    border-radius: 10px;
    list-style: none;
}
.logos img{
    width: 90%;
}
.contact{
    padding: 0.5%;
    width: 170px;
}
.contact a{
    padding: 6%;
    background-color: #383163;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 10px;
}